<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form th:action="@{/connexion}" th:object="${loginAuthor}" method="post">
        <label for="email">Email</label>
        <input id="email" type="email" placeholder="Email" th:field="*{email}">

        <label for="password">Password</label>
        <input id="password" type="password" placeholder="Password" th:field="*{password}">
        <button type="submit">Connexion</button>
    </form>
    <p style="color: red"><span th:text="${error}"></span></p>
</body>
</html>